@model CrudsApi.Models.Bancos

<h2>Guardar</h2>

@using (Html.BeginForm("Ceate", "Bancos", FormMethod.Post, new { id = "popupForm" }))
{
    if (Model != null && Model.idBanco > 0)
    {
        @Html.HiddenFor(a => a.idBanco)
    }

    <div class="form-group">
        <label>
            Nombre
        </label>
        @Html.TextBoxFor(a => a.descripcion, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>
            Nombre
        </label>
        @Html.TextBoxFor(a => a.numerocuit, new { @class = "form-control" })
    </div>

    <div>
        <input type ="submit" value="Save" />
    </div>
}
